<section class="footer text-center noPad">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a href="//www.facebook.com/sharer/sharer.php?u=YOUR_URL" class="fa-stack fa-lg">
            <i class="fa fa-circle dsb-facebook fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x dsb-white"></i>
            </a>
            <a href="//twitter.com/intent/tweet/?text=YOUR_TEXT&amp;url=YOUR_URL&amp;via=YOUR_TWITTER" class="fa-stack fa-lg">
            <i class="fa fa-circle dsb-twitter fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x dsb-white"></i>
            </a>
            <a href="//www.linkedin.com/shareArticle?url=YOUR_URL&amp;title=YOUR%20TITLE&amp;summary=YOUR%20SUMMARY" class="fa-stack fa-lg">
            <i class="fa fa-circle dsb-linkedin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x dsb-white"></i>
            </a>
        </div>
    </div>
</section>